<div class="example-container">
    <mat-toolbar class="cor-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1> MyResilientCity</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav mode="over">
            <mat-nav-list>
                <a mat-list-item routerLink="">
                    <i class="material-icons">home</i><span> inicio</span>
                </a>
                <a mat-list-item routerLink="interesseAdocao/">
                    <i class="material-icons">pets</i><span> Adoção </span>
                </a>
                <a mat-list-item routerLink="apartamentos/">
                    <i class="material-icons">volunteer_activism</i><span> Ongs </span>
                </a>
                <a mat-list-item routerLink="">
                    <i class="material-icons">group</i><span> Quem somos</span>
                </a>
                <a mat-list-item routerLink="login/">
                    <i class="material-icons">login</i><span> Login</span>
                </a>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>